In [1]:
def importarlibrerias():
    '''Importación de las librerías necesarias para la implementación del algoritmo'''
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
print(importarlibrerias.__doc__)
print(importarlibrerias())

Importación de las librerías necesarias para la implementación del algoritmo
None

In [2]:
def cargardataset():
    '''Cargar y leer los datos del dataframe'''
pima = pd.read_csv("Dataset of Diabetes .csv")
print(cargardataset.__doc__)
print(cargardataset())
pima.head()

Cargar y leer los datos del dataframe
None

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [3]:
def quitarespacio():
    '''Eliminamos los espacios al principio y al final de la cadena'''
pima['CLASS'] = pima['CLASS'].str.strip()
print(quitarespacio.__doc__)
print(quitarespacio())

Eliminamos los espacios al principio y al final de la cadena
None

In [4]:
def reemplazo():
    '''Cambiar valores alfanuméricos en numéricos'''
d1 = {'F': 1 , 'M': 0, 'f': 1}
pima['Gender'] = pima['Gender'].map(d1)

d2 = {'N': 0, 'P': 1, 'Y': 2}
pima['CLASS'] = pima['CLASS'].map(d2)
print(reemplazo.__doc__)
print(reemplazo())
pima.head()

Cambiar valores alfanuméricos en numéricos
None

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,1,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
1,735,34221,0,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0
2,420,47975,1,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
3,680,87656,1,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
4,504,34223,0,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0

In [5]:
def variable():
    '''Determinar variables objetivo (dependientes) y características (independientes)'''
feature_cols = ['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL','BMI']
X = pima[feature_cols] #Características
y = pima.CLASS #etiqueta
print(variable.__doc__)
print(variable())

Determinar variables objetivo (dependientes) y características (independientes)
None

In [6]:
def entrenar():
    '''Se va a dividir el conjunto de datos en proporción de conjunto de entrenamiento y prueba (70:30)'''
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
print(entrenar.__doc__)
print(entrenar())

Se va a dividir el conjunto de datos en proporción de conjunto de entrenamiento y prueba (70:30)
None

In [7]:
def crearentrenarpredecirAD():
    '''Crear un objeto clasificador, entrenar el clasificador y predecir la respuesta'''
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print(crearentrenarpredecirAD.__doc__)
print(crearentrenarpredecirAD())

Crear un objeto clasificador, entrenar el clasificador y predecir la respuesta
None